/* Adiciona cor de fundo, margem e fonte */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    background-color: #fcf6fff3;
    /* Define a cor de fundo do corpo */
    font-family: "Poppins", sans-serif;
    /* Define a fonte para o corpo do texto */
    margin: 0;
    /* Define margem zero para o corpo */
}

nav {
    background-color: #72365b;
    /* Define a cor de fundo para a barra de navegação */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Estiliza os links dentro da barra de navegação */
nav a {
    float: left;
    color: rgb(255, 255, 255);
    /* Define a cor do texto dos links */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Altera a cor dos links ao passar o mouse */
nav a:hover {
    background-color: #ddd;
    /* Define a cor de fundo ao passar o mouse sobre os links */
    color: black;
    /* Define a cor do texto ao passar o mouse sobre os links */
}

/* Adiciona uma cor ao link atual */
nav a.ativo {
    background-color: #402039;
    /* Define a cor de fundo para o link ativo */
    color: white;
    /* Define a cor do texto para o link ativo */
}

#sobreMim,
#formacao,
#contato {
    padding: 16px;
    margin-top: 40px;
    height: 1500px;
    /* Define altura para as seções com id 'sobreMim', 'formacao' e 'contato' */
}

/* Estilizar inputs e textareas */
input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Estiliza o botão de envio com uma cor de fundo */
input[type=submit] {
    background-color: #965e81;
    /* Define a cor de fundo para o botão de envio */
    color: white;
    /* Define a cor do texto do botão de envio */
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Ao passar o mouse sobre o botão de envio, adiciona uma cor mais escura */
input[type=submit]:hover {
    background-color: #72365b;
    /* Define a cor de fundo mais escura ao passar o mouse sobre o botão de envio */
}

/* Estiliza o formulário */
.formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    /* Define a cor de fundo do formulário */
    padding: 20px;
}